
body { /* CORPO DO TEXTO */
    margin: auto;
    margin-bottom: 100px;
    padding: 0;
    max-width: 60%;
    background-color: black;
} 

#root {
    background-color: rgba(19, 105, 145, 0.37);
    border-radius: 10px;
    padding-top: 10px;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 120px;
    margin-bottom: 10px;
    background-image: url("https://i.pinimg.com/originals/18/55/0a/18550a43289a9cf8a5182c51170e0e6b.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: rgba(12, 146, 170, 0.733);
}

h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: black;
}

#txtIntro{ /* PRIMEIRO PARAGRAFO */
    text-align: center;
    margin: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;

}

#divDeslocamento{ /* DIV MAE DO DESLOCAMENTO */
    text-align: center;
    color: white;
}

#divCaixasTxt { /* DIV MAE DAS CAIXAS DE TEXTO E BOTOES */
    text-align: center;
    padding: 25px;
}

#box1 { /* DIV DA PRIMEIRA CAIXA DE TEXTO E BOTAO */
    display: inline-block;
    padding-right: 30px;
}

#box2 { /* DIV DA SEGUNDA CAIXA DE TEXTO E BOTAO */
    display: inline-block;
    padding-left: 30px;
}

#caixaTxt1 { /* TEXTAREA 1 */
    width: 300px;
    height: 100px;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

#caixaTxt2 { /* TEXTAREA 2 */
    width: 300px;
    height: 100px;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

#botaoCrip { /* BOTAO PARA CRIPTAR */
    width: 250px;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: rgba(190, 190, 190, 0.562);
}

#botaoDecrip { /* BOTAO PARA DECRIPTAR */
    width: 250px;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: rgba(189, 189, 189, 0.562);
}

#divResultado { /* DIV ONDE TEM O SUBTITULO E AREA PARA IMPRIMIR A FRASE */
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
}
 
#resultado { /* AREA PARA IMPRIMIR A FRASE */
    text-align: center;
}
